.toolbar {
	position: sticky;
	top: 0;
	width: 100%;
	color: white;
	background: #1b1b1b;
	font: 16px sans-serif;
	padding: 16px;
}

.toolbar a {
	color: inherit;
}

.toolbar a:visited {
	color: inherit;
}